@using Models.Response
@model UserResponse
@{
    ViewData["Title"] = "User Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
        <div class="text-allign">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                </tr>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Email</td>
                    <td>@Model.Username</td>
                    <td>@Model.CreatedAt</td>
                    <td>@Model.Role</td>
                </tr>
            </table>
        </div>
}
