@using Models.Response
@using Models.Request
@model IEnumerable<PostResponse>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, guys! Today am gonna show you.</p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TopicID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpVotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DownVotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>

        </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Body</td>
                    <td>@item.UserID</td>
                    <td>@item.TopicID</td>
                    <td><input type="button" value="UpVotes :@item.UpVotes" onclick="location.href='@Url.Action("UpdatePostVotes", 
                        "Home", new PostUpdateRequest { Id = item.Id, UpVotes=item.UpVotes + 1, DownVotes= item.DownVotes})'" /></td>
                    <td><input type="button" value="DownVotes :@item.DownVotes" onclick="location.href='@Url.Action("UpdatePostVotes", 
                        "Home", new PostUpdateRequest { Id = item.Id, UpVotes=item.UpVotes, DownVotes= item.DownVotes + 1})'" /></td>
                    <td>@item.CreatedAt</td>
                    <td>@foreach(var comment in item.Comments)
                    {
                        <p>@comment.Comment</p>
                    }
                    </td>
                    <td><input type="button" value="Comment" onclick="location.href='@Url.Action("Index", 
                        "Comment", new  {PostId = item.Id, TopicId = item.TopicID}) '"/></td>
                </tr>
            }
        </table>
</div>
